<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :choice %><br>
    <%= f.collection_radio_buttons :choice, {choice1: 'Choice 1', choice2: 'Choice 2'}.map{|k,v| OpenStruct.new(value: k, label: v) }, :value, :label %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
